{% block program_record_factory %}
  <script type="text/javascript">
    ProgramRecordFactory('program-record', {
      record: JSON.parse('{{record|escapejs}}'),
      helpUrl: '{{records_help_url}}',
      isPublic: {{ is_public|yesno:"true,false"}},
      uuid: '{{uuid}}',
      icons: {
        micromasters: '{% spaceless %}{% include "edx.org/images/micromasters-icon.svg" %}{% endspaceless %}',
        professional_certificate: '{% spaceless %}{% include "edx.org/images/professional-certificate-icon.svg" %}{% endspaceless %}',
        xseries: '{% spaceless %}{% include "edx.org/images/xseries-icon.svg" %}{% endspaceless %}',
      },
    });
  </script>
{% endblock %}
