{% block records_factory %}
  <script type="text/javascript">
    RecordsFactory('records', {
      programs: JSON.parse('{{programs|escapejs}}'),
      helpUrl: '{{records_help_url}}',
      profileUrl: '{{profile_url}}',
      icons: {
        micromasters: '{% spaceless %}{% include "edx.org/images/micromasters-icon.svg" %}{% endspaceless %}',
        professional_certificate: '{% spaceless %}{% include "edx.org/images/professional-certificate-icon.svg" %}{% endspaceless %}',
        xseries: '{% spaceless %}{% include "edx.org/images/xseries-icon.svg" %}{% endspaceless %}',
      },
    });
  </script>
{% endblock %}

