# Include package static assets
recursive-include edx_credentials_themes *.html *.png *.css *jpg *jpeg *svg *.otf *.ttf *.woff *.woff2 *.eot *.scss *.yaml
recursive-include edx_credentials_themes/locale *.mo

# Exclude development, test, and documentation folders
prune .github
prune docs
prune tests

# Exclude root level configuration and build files
exclude Makefile
exclude conftest.py
exclude .gitignore
exclude tox.ini
