
// ------------------------------
// #TYPOGRAPHY
// ------------------------------
@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../fonts/MinionPro-Regular.woff2') format('woff2'),
       url('../fonts/MinionPro-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'TradeGothicLTStd-BdCn20';
  src: url('../fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2'),
       url('../fonts/TradeGothicLTStd-BdCn20.woff') format('woff'),
}

@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url('../fonts/TradeGothicLTStd-Bold.woff2') format('woff2'),
       url('../fonts/TradeGothicLTStd-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'TradeGothicLTStd-Cn18';
  src: url('../fonts/TradeGothicLTStd-Cn18.woff2') format('woff2'),
       url('../fonts/TradeGothicLTStd-Cn18.woff') format('woff'),
}

@font-face {
  font-family: 'TradeGothicLTStd-Light';
  src: url('../fonts/TradeGothicLTStd-Light.woff2') format('woff2'),
       url('../fonts/TradeGothicLTStd-Light.woff') format('woff'),
}

@font-face {
  font-family: 'TradeGothicLTStd-LightObl';
  src: url('../fonts/TradeGothicLTStd-LightObl.woff2') format('woff2'),
       url('../fonts/TradeGothicLTStd-LightObl.woff') format('woff'),
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src: url('../fonts/TradeGothicLTStd.woff2') format('woff2'),
       url('../fonts/TradeGothicLTStd.woff') format('woff'),
}
