// ------------------------------
// MIT Professional Education: Certificate Rendering - Components

// About: (specifically for certificate rendering) styling for specific UI components ranging from global to modular.

// #RENDERING

// ------------------------------
// #RENDERING
// ------------------------------
.accomplishment-rendering {
  background-color: palette(grayscale, white-t);
  font-family: $font-family-sans-serif;
}

.wrapper-accomplishment-org {

  margin-bottom: 0;

  .organization-name {
    @extend %hd-5;
    color: $headings-emphasized-color;
    margin-bottom: 0;

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: rem(32);
      font-family: Helvetica;
      font-weight: bold;
    }
  }
}

.wrapper-accomplishment-orgs {

  img {
    max-width: 100%;
    max-height: 150px;

    @include susy-breakpoint($bp-screen-sm, $susy) {
      max-width: 300px;
    }
  }
}

.list-orgs {
  @extend %list-unstyled;
}

.wrapper-accomplishment-statement {

  .accomplishment-statement-about {
    font-size: font-size(large);
  }

  .accomplishment-summary,
  .accomplishment-statement-detail {
    font-family: TradeGothicLTStd-LightObl;
    font-style: italic;
    font-size: 1em;
  }

  .accomplishment-recipient {
    line-height: 1.2;
    color: $headings-emphasized-color;
    font-weight: $headings-font-weight-bold;

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: rem(44);
    }
  }

  .accomplishment-course {
    line-height: 1.2;
    color: $headings-emphasized-color;
    font-weight: $headings-font-weight-bold;

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: rem(32);
    }

    .accomplishment-course-type {
      text-transform: uppercase;
      font-weight: $headings-font-weight-normal;
    }

    .accomplishment-course-name {
      font-family: TradeGothicLTStd-BdCn20;
      font-size: 0.9em;
    }

    .accomplishment-program-type {
      display: block;
      font-family: TradeGothicLTStd-Cn18;
      font-size: 0.8em;
      font-weight: 400;
      margin: 10px 0 15px 0;
    }
  }

  .accomplishment-course-dates,
  .accomplishment-course-time {
    font-size: font-size(large);
    font-weight: font-weight(normal);
    line-height: line-height(large);
  }

  .copy {

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: font-size(large);
    }
  }
}

.wrapper-signatories {

  img {
    max-width: 100%;
    max-height: 150px;
  }
}

.signatory {
  margin-top: spacing-vertical(small);

  .signatory-signature {
    max-width: 60%;
    max-height: 60px;
  }

  .signatory-name {
    margin-top: spacing-vertical(x-small);
    margin-bottom: 0;
    border-top: rem(2) solid palette(grayscale, light);
    padding-top: spacing-vertical(x-small);
    color: $headings-emphasized-color;
    font-family: TradeGothicLTStd-BdCn20;
    font-size: rem(14);
    font-weight: $headings-font-weight-bold;
  }

  .signatory-credentials {
    @extend %copy-micro;
    color: palette(grayscale, dark);
    display: inline;
    font-size: rem(14);

    .role {
      font-family: TradeGothicLTStd-Cn18;
      white-space: pre-line;
    }
  }
}
