// ------------------------------
// MIT Professional Education: Certificate Rendering - Layouts

// About: (specifically for certificate rendering) styling for generic layouts and responsive support.

// #ACCOMPLISHMENT - BASE

// ------------------------------
// #ACCOMPLISHMENT - BASE
// ------------------------------
.header-app {

    .logo {
        width: 250px;
    }
}

.header-app-title {
    margin: 0;
    @include text-align(center);
}


// ------------------------------
// #ACCOMPLISHMENT
// ------------------------------
.accomplishment-rendering {
  @extend %depth-2;
  @include text-align(center);
  margin: 2%;
  border: 1px solid palette(grayscale-cool, light);
  padding: 5%;
  background-color: palette(grayscale, white);

  @include susy-breakpoint($bp-screen-md, $susy) {
    padding: 2% 5%;
  }
}

.wrapper-accomplishment-org {
  margin-bottom: 0;

  .organization-logo {
    display: block;
    margin: 0 auto spacing-vertical(small) auto;
    width: span(8 of 12);

    @include susy-breakpoint($bp-screen-sm, $susy) {
      width: span(4 of 12);
    }

    @include susy-breakpoint($bp-screen-md, $susy) {
      width: span(4 of 12);
    }
  }

  .organization-name {
    display: block;
    margin: 0 auto;
  }
}

.accomplishment-statement {
  margin-bottom: spacing-vertical(base);

  .accomplishment-recipient,
  .accomplishment-course,
  .accomplishment-summary,
  .accomplishment-statement-detail,
  .accomplishment-logo {
    display: block;
    margin-bottom: spacing-vertical(small);
  }

  .accomplishment-logo {
    max-width: 33%;
    @include margin-left(auto);
    @include margin-right(auto);

    @include susy-breakpoint($bp-screen-sm, $susy) {
        max-width: 25%;
    }

    @include susy-breakpoint($bp-screen-md, $susy) {
        max-width: 15%;
    }
  }

  .accomplishment-course-dates {
    display:block;
  }
  
  .accomplishment-course-time {
    display: block;
    font-size: 0.45em;
  }
}

.accomplishment-signatories {

}

.signatory {
  @include gallery(12 of 12);
  float: none; // unset the gallery float to prevent overlap

    @include susy-breakpoint($bp-screen-md, $susy) {
      @include gallery(4 of 12);

      // One signatory override
      &:first-child:nth-last-child(1) {
        @include push(4);
      }

      // Two signatory override
      &:first-child:nth-last-child(2) {
        margin-left: span(2 of 12) + gutter(12);
      }

      &:first-child:nth-last-child(2) ~ div {
        margin-left: span(6 of 12) + gutter(12);
      }
    }
  }


.accomplishment-metadata-aboutcert {

  @include susy-breakpoint($bp-screen-md, $susy) {
    @include span(6 of 12 last);
  }
}



