// ------------------------------
// MIT Professional Education: Certificate Rendering - Print Specific Styling

// About: (specifically for certificate rendering) styling specific for print layouts.

// #LAYOUT
// #ELEMENTS


// ------------------------------
// #LAYOUT
// ------------------------------
@media print {

    // hide elements not needed for print rendering
    .wrapper-banner-user,
    .wrapper-header,
    .wrapper-accomplishment-support,
    .wrapper-footer {
        @extend %print-hide;
    }

    // remove layout wrappers' padding
    .wrapper-accomplishment-rendering {
        @include make-container();
        @include make-container-max-widths();
        @extend %print-layout-wrapper;

        .accomplishment-rendering {
            top: 0 !important;
            box-shadow: none;
            border: none;
            padding: 0.625rem 2.5rem !important;
            background-color: $white;
            @include text-align(center);
        }
    }

    .wrapper-accomplishment-statement {
        @include make-row();
        @extend %print-layout-wrapper;
        justify-content: center !important;
        margin-top: -1.25rem !important;

        .accomplishment-statement {
            @include make-col-ready();
            @include make-col(8);
            display: inline-block;
            vertical-align: top;
            margin-top: 0.5rem !important;
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    .wrapper-accomplishment-org {
      margin-bottom: 0;

      .organization-logo {
        display: block;
        width: 16%;
        font-weight: $font-weight-bold;
      }
    }

    .accomplishment-signatories {
        float: none;
    }
}

// ------------------------------
// #ELEMENTS
// ------------------------------
@media print {

    // accomplishment
    .accomplishment-statement {
        margin-bottom: 0.625rem !important;

        .accomplishment-recipient {
            @extend %h2;
        }

        .accomplishment-course {
            @extend %h3;
        }

        .copy {
            font-size: $font-large;
            line-height: $line-height-large;
            color: $gray-600;
        }

        .accomplishment-recipient,
        .accomplishment-course,
        .accomplishment-summary,
        .accomplishment-statement-detail,
        .accomplishment-logo {
            margin: 0 auto 0.625rem auto !important;
        }

        .accomplishment-logo {
          max-width: 25% !important;
        }
    }

    .signatory {
        .signatory-signature {
          max-width: 50%;
          height: 40px;
        }

        .signatory-name,
        .signatory-credentials {
            margin-bottom: 2px !important;
            font-size: $font-xxx-small;
            line-height: $line-height-small;
        }
    }
}
