// ------------------------------
// MIT Professional Education: Certificate Rendering - Print Specific Styling

// About: (specifically for certificate rendering) styling specific for print layouts.

// #LAYOUT
// #ELEMENTS


// ------------------------------
// #LAYOUT
// ------------------------------
@media print {

    // hide elements not needed for print rendering
    .wrapper-banner-user,
    .wrapper-header,
    .wrapper-accomplishment-metadata,
    .wrapper-accomplishment-support,
    .wrapper-footer {
        @extend %print-hide;
    }

    // remove layout wrappers' padding
    .wrapper-accomplishment-rendering {
        @extend %print-layout-wrapper;
    }

    .accomplishment-rendering {
        top: 0 !important;
        box-shadow: none;
        border: none;
        padding: spacing-vertical(x-small) spacing-horizontal(large);
        background-color: palette(grayscale, white-t);
        @include text-align(center);

        .accomplishment-statement {
            display: inline-block;
            vertical-align: top;
            width: span(8 of 12);
            margin-top: spacing-vertical(base);
            border-bottom: 0;
        }

        .signatory {

            // One signatory override
            &:first-child:nth-last-child(1) {
                @include push(4);
            }

            // Two signatory override
            &:first-child:nth-last-child(2) {
                margin-left: span(2 of 12) + gutter(12);
            }

            &:first-child:nth-last-child(2) ~ div {
                margin-left: span(6 of 12) + gutter(12);
            }

            @include susy-breakpoint($bp-screen-md, $susy) {
                @include gallery(4 of 12);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wrapper-accomplishment-statement {
        margin-top: -(spacing-vertical(small));
    }

    .wrapper-accomplishment-org {
      margin-bottom: 0;

      .organization-logo {
        display: block;
        width: span(3 of 12);
        font-weight: $headings-font-weight-bold;
      }
    }

    .signatory {
      @include gallery(4 of 12);
    }
}

// ------------------------------
// #ELEMENTS
// ------------------------------
@media print {

    // accomplishment
    .accomplishment-statement {
        margin-bottom: spacing-vertical(x-small);

        .accomplishment-recipient {
            @extend .hd-2;
        }

        .accomplishment-course {
            @extend .hd-3;
        }

        .copy {
            @extend .copy-meta;
            color: $text-de-emphasized-color;
        }

        .accomplishment-recipient,
        .accomplishment-course,
        .accomplishment-summary,
        .accomplishment-statement-detail,
        .accomplishment-logo {
            margin: 0 auto  spacing-vertical(x-small) auto;
        }

        .accomplishment-logo {
          max-width: 15% !important;
        }
    }

    .signatory {
        @include gallery(4 of 12);

        .signatory-signature {
          max-width: 50%;
          height: 40px;
        }

        .signatory-name,
        .signatory-credentials {
            margin-bottom: 2px;
            font-size: font-size(xxx-small);
            line-height: line-height(xxx-small);
        }
    }
}
