// ------------------------------
// MIT Professional Education: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// #VARIABLES
// #FUNCTIONS
// #MIXINS
// #HELPERS

// ------------------------------
// #VARIABLES
// ------------------------------
$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-sans-serif: 'TradeGothicLTStd', sans-serif;

// Font sizes
// Taken from edx-pattern library and put here as vars.
$font-xxxx-large: 2.375rem;
$font-xxx-large: 1.75rem;
$font-xx-large:1.5rem;
$font-x-large: 1.313rem;
$font-large:1.125rem;
$font-base:1rem;
$font-small:0.875rem;
$font-x-small:0.75rem;
$font-xx-small:0.688rem;
$font-xxx-small:0.625rem;

//Line height vars
$line-height-large: 1.6;
$line-height-small: 1.5;

// ------------------------------
// #FUNCTIONS
// ------------------------------


// ------------------------------
// #MIXINS
// ------------------------------


// ------------------------------
// #HELPERS
// ------------------------------
// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

 // Sass doesn't like code inside a "@media print" block to use selectors from outside the media block, so we use a
// placeholder class to work around it (since those do work inside a media block).
// Open Sass ticket: https://github.com/sass/sass/issues/1050
// Stack Overflow: https://stackoverflow.com`/questions/14840918
%h2 { @extend .h2; }
%h3 { @extend .h3; }
