{% load i18n %}
{% load html %}
{% load staticfiles %}

{% if LANGUAGE_BIDI %}
  <link href='{% static "mitpe/css/mitpe.certificate.style-rtl.css" %}' rel='stylesheet' type='text/css'/>
{% else %}
  <link href='{% static "mitpe/css/mitpe.certificate.style-ltr.css" %}' rel='stylesheet' type='text/css'/>
{% endif %}

{% with program_details=user_credential.credential.program_details %}
<main class="accomplishment">
  <div class="wrapper-accomplishment-rendering">
    <div class="accomplishment-rendering">
      <div class="wrapper-accomplishment-org">
        <ul class="wrapper-orgs list-orgs">
          <li class="wrapper-organization">
            <div class="organization">
                {% block top_logo %} 
                <img class="organization-logo" src="{% static 'mitpe/images/mitxpro-logo.png' %} " alt="MIT xPro logo">
                {% endblock %}
              <span class="organization-name">Massachusetts Institute of Technology</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="wrapper-accomplishment-statement">
        <div class="accomplishment-statement">
          <p class="accomplishment-statement-lead">
            <span class="accomplishment-statement-detail copy">{% trans "This is to certify that" as tmsg %}{{ tmsg | htmlescape }}</span>
            <strong class="accomplishment-recipient">{{ user_data.name }}</strong>
            <img class="accomplishment-logo" src="{% static 'mitpe/images/mit-seal.png' %}"
                 alt="Massachusetts Institute of Technology">
            <span class="accomplishment-summary copy">{% trans "has successfully completed the" as tmsg %}{{ tmsg | htmlescape }}</span>

            <span class="accomplishment-course">
                <span
                    class="accomplishment-course-name">{% block program_title %} {{ program_details.title }} {% endblock %}</span>
                <span class="accomplishment-program-type">PROFESSIONAL CERTIFICATE PROGRAM</span>
                <span class="sr-only">{% trans "held during" as tmsg %}{{ tmsg | htmlescape }}</span>
                <span class="accomplishment-course-dates"> 
                    {% block start_date %} {% endblock %} - {% block end_date %} {% endblock %}</span>
                <span
                    class="accomplishment-course-time">
                    ({% block credit_amount %}{% endblock%} Continuing Education Units Awarded)</span>
            </span>

          </p>
        </div>
      </div>
      <div class="accomplishment-signatories">
        <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" as tmsg %}{{ tmsg | htmlescape }}</h3>
        <div class="wrapper-signatories">
          <div class="list-signatories">
            {% for signatory in user_credential.credential.signatories.all %}
            <div class="signatory">
              <img class="signatory-signature" src="{{ signatory.image.url }}" alt="{{ signatory.name }}">
              <h4 class="signatory-name">{{ signatory.name }}</h4>
              <p class="signatory-credentials">
                {% autoescape off %}
                <span class="role">{{ signatory.title }}</span>
                <br>
                <span class="organization">
                    {% firstof signatory.organization_name_override program_details.organizations.0.name %}
                  </span>
                {% endautoescape %}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-accomplishment-support">
    <div class="accomplishment-support">
      <div class="accomplishment-support-print">
        <p class="support-copy">
          {% autoescape off %}
          {% blocktrans trimmed with link_start='<a href="'|add:site.siteconfiguration.certificate_help_url|add:'">' link_end='</a>' %}
            For tips and tricks on printing your certificate, view the {{ link_start }}Web Certificates help
            documentation{{ link_end }}.
          {% endblocktrans %}
          {% endautoescape %}
        </p>
      </div>
    </div>
  </div>
</main>
{% endwith %}
