{% extends 'credentials/programs/base.html' %}
{% load i18n %}
{% load i18n_assets %}
{% load html %}


{% block background_watermark %}
  {% include 'edx.org/images/'|add:program_type|add:'-watermark.svg' %}
{% endblock %}

{% block background_logo %}
  {% include 'edx.org/images/'|add:program_type|add:'-logo.svg'|translate_file_path %}
{% endblock %}

{% block certificate_metadata %}
  <div class="wrapper-accomplishment-metadata">
    <div class="accomplishment-metadata">
      <div class="accomplishment-metadata-bit accomplishment-metadata-aboutplatform">
        <h3 class="accomplishment-metadata-title">
          {% trans "About edX" as tmsg %}{{ tmsg | htmlescape }}
        </h3>
        <p class="accomplishment-metadata-copy">
          {% blocktrans trimmed asvar accomplishment_metadata_details %}
            {link_start} edX{link_end} offers interactive online classes and MOOCs from
            the world’s best universities, including MIT, Harvard, Berkeley, University of Texas, and many others. edX
            is a non-profit online initiative created by founding partners Harvard and MIT.
          {% endblocktrans %}
          {% interpolate_html accomplishment_metadata_details link_start='<a href="https://www.edx.org">'|safe link_end='</a>'|safe %}
        </p>
      </div>

      <div class="accomplishment-metadata-bit accomplishment-metadata-aboutcert">
        <h3 class="accomplishment-metadata-title">
          {% block accomplishment_metadata_title %}{% endblock %}
        </h3>
        <p class="accomplishment-metadata-copy">
          {% block accomplishment_metadata %}{% endblock %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    {% include 'edx.org/images/edx-logo.svg' %}
  </a>
{% endblock %}
