{% extends 'credentials/programs/base.html' %}
{% load i18n %}
{% load i18n_assets %}
{% load django_markup %}
{% load static %}

{% block styles %}
  {% if LANGUAGE_BIDI %}
    <link href='{% static "edx.org/css/edx.org.certificate.style-rtl.css" %}' rel='stylesheet' type='text/css'/>
    <link href='{% static "edx.org/css/edx.org.base.style-rtl.css" %}' rel='stylesheet' type='text/css'/>
  {% else %}
    <link href='{% static "edx.org/css/edx.org.certificate.style-ltr.css" %}' rel='stylesheet' type='text/css'/>
    <link href='{% static "edx.org/css/edx.org.base.style-ltr.css" %}' rel='stylesheet' type='text/css'/>
    {% endif %}
{% endblock %}

{% block background_watermark %}
  {% include 'edx.org/images/watermark.svg' %}
{% endblock %}

{% block background_logo %}
  {% include 'edx.org/images/'|add:program_type|add:'-logo.svg'|translate_file_path %}
{% endblock %}

{% block certificate_metadata %}
  <div class="wrapper-accomplishment-metadata">
    <div class="accomplishment-metadata">
      <div class="accomplishment-metadata-bit accomplishment-metadata-aboutplatform">
        <h3 class="accomplishment-metadata-title">
          {% trans "About edX" as tmsg %}{{ tmsg | force_escape }}
        </h3>
        <p class="accomplishment-metadata-copy">
          {% blocktrans trimmed asvar accomplishment_metadata_details %}
            {link_start} edX{link_end} offers interactive online classes and MOOCs from
            the world’s best universities, including MIT, Harvard, Berkeley, University of Texas, and many others. edX
            is a non-profit online initiative created by founding partners Harvard and MIT.
          {% endblocktrans %}
          {% interpolate_html accomplishment_metadata_details link_start='<a href="https://www.edx.org">'|safe link_end='</a>'|safe %}
        </p>
      </div>

      <div class="accomplishment-metadata-bit accomplishment-metadata-aboutcert">
        <h3 class="accomplishment-metadata-title">
          {% block accomplishment_metadata_title %}{% endblock %}
        </h3>
        <p class="accomplishment-metadata-copy">
          {% block accomplishment_metadata %}{% endblock %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    <img class="edx-logo" src="{{site_logo_url}}" alt="{% firstof platform_name site.name %}" />
  </a>
{% endblock %}
