@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light-webfont.woff2) format("woff2"),url(../fonts/OpenSans-Light-webfont.woff) format("woff"),url(../fonts/OpenSans-Light-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/OpenSans-LightItalic-webfont.woff2) format("woff2"),url(../fonts/OpenSans-LightItalic-webfont.woff) format("woff"),url(../fonts/OpenSans-LightItalic-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular-webfont.woff2) format("woff2"),url(../fonts/OpenSans-Regular-webfont.woff) format("woff"),url(../fonts/OpenSans-Regular-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/OpenSans-Italic-webfont.woff2) format("woff2"),url(../fonts/OpenSans-Italic-webfont.woff) format("woff"),url(../fonts/OpenSans-Italic-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Semibold-webfont.woff2) format("woff2"),url(../fonts/OpenSans-Semibold-webfont.woff) format("woff"),url(../fonts/OpenSans-Semibold-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/OpenSans-SemiboldItalic-webfont.woff2) format("woff2"),url(../fonts/OpenSans-SemiboldItalic-webfont.woff) format("woff"),url(../fonts/OpenSans-SemiboldItalic-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold-webfont.woff2) format("woff2"),url(../fonts/OpenSans-Bold-webfont.woff) format("woff"),url(../fonts/OpenSans-Bold-webfont.ttf) format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/OpenSans-BoldItalic-webfont.woff2) format("woff2"),url(../fonts/OpenSans-BoldItalic-webfont.woff) format("woff"),url(../fonts/OpenSans-BoldItalic-webfont.ttf) format("truetype");
}

[class^=wrapper] {
  width: 100%;
}

[class^=wrapper]:after {
  clear: both;
  content: "";
  display: table;
}

.list .item:last-child,.list:last-child,.list li:last-child,ul .item:last-child,ul:last-child,ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: normal;
}

.sr-only,.sr-only * {
  background: #000!important;
  color: #fff!important;
}

.list,.list-orgs,ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

.list-orgs li,.list li,ul li {
  margin: 0;
  padding: 0;
}

.accomplishment-statement .copy a,.copy-lead a,.link,.signatory .signatory-credentials a,a {
  -webkit-transition: color .125s ease-in-out 0s;
  -moz-transition: color .125s ease-in-out 0s;
  transition: color .125s ease-in-out 0s;
  color: #065683;
  text-decoration: none;
}

.accomplishment-statement .copy a:active,.accomplishment-statement .copy a:focus,.accomplishment-statement .copy a:hover,.link:active,.link:focus,.link:hover,.signatory .signatory-credentials a:active,.signatory .signatory-credentials a:focus,.signatory .signatory-credentials a:hover,a:active,a:focus,a:hover {
  color: #0079bc;
}

.accomplishment-statement .copy a:disabled,.link:disabled,.signatory .signatory-credentials a:disabled,a:disabled {
  display: none;
  color: #d2d0d0;
}

.accomplishment-statement .copy a:active,.link:active,.signatory .signatory-credentials a:active,a:active {
  color: #0079bc;
}

.accomplishment-statement .copy a,.copy-lead a,.signatory .signatory-credentials a {
  -webkit-transition: box-shadow .125s ease-in-out 0s;
  -moz-transition: box-shadow .125s ease-in-out 0s;
  transition: box-shadow .125s ease-in-out 0s;
  box-shadow: 0 1px 0 0 transparent;
}

.accomplishment-statement .copy a:active,.accomplishment-statement .copy a:focus,.accomplishment-statement .copy a:hover,.copy-lead a:active,.copy-lead a:focus,.copy-lead a:hover,.signatory .signatory-credentials a:active,.signatory .signatory-credentials a:focus,.signatory .signatory-credentials a:hover {
  box-shadow: 0 1px 0 0 #0079bc;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

details,footer,header,main,nav,summary {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

img {
  border: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4b4b;
  font-size: 1rem;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

p,ul {
  margin: 0 0 1.25rem;
}

.img {
  max-width: 100%;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3125rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .875rem;
}

.accomplishment-statement .accomplishment-course,.accomplishment-statement .accomplishment-recipient,h1,h2,h3,h4,h5,h6 {
  margin: 0 0 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #4d4b4b;
}

.accomplishment-statement .accomplishment-recipient {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  line-height: 1.4;
}

.accomplishment-statement .accomplishment-course {
  margin-bottom: .625rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.wrapper-accomplishment-org .organization-name {
  margin-bottom: .625rem;
  font-size: 1.125rem;
  line-height: 1.6;
}

.accomplishment-statement .copy,.copy-lead,.signatory .signatory-credentials {
  color: #4d4b4b;
}

.copy-lead {
  font-size: 1.3125rem;
  line-height: 1.5;
}

.copy-lead p,.copy-lead ul {
  margin-bottom: 1.875rem;
}

.accomplishment-statement .copy {
  font-size: .875rem;
  line-height: 1.6;
}

.accomplishment-statement .copy p,.accomplishment-statement .copy ul {
  margin-bottom: 1.25rem;
}

.signatory .signatory-credentials {
  font-size: .75rem;
  line-height: 1.5;
}

.signatory .signatory-credentials p,.signatory .signatory-credentials ul {
  margin-bottom: 1.25rem;
}

.list .item,.list li,ul .item,ul li {
  display: list-item;
  margin-bottom: .3125rem;
}

.list .item>.list,.list .item>ul,.list li>.list,.list li>ul,ul .item>.list,ul .item>ul,ul li>.list,ul li>ul {
  margin-top: .3125rem;
  margin-bottom: .3125rem;
}

.list,ul {
  margin-bottom: 1.875rem;
}

.list .item-copy,ul .item-copy {
  display: block;
}

.list .item-copy,ul .item-copy {
  margin: 0;
}

ul {
  margin-right: 2.5rem;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

body {
  background: #eef1f2;
}

.accomplishment-rendering {
  background: #fcfcfc;
  box-shadow: 0 1px 2px 1px hsla(0,2%,65%,.25);
}

.accomplishment-rendering {
  background-color: #fff;
  font-family: TradeGothicLTStd,sans-serif;
}

.wrapper-accomplishment-org .organization-name {
  color: #000;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .wrapper-accomplishment-org .organization-name {
    font-size: 2rem;
    font-family: Helvetica;
    font-weight: 700;
  }
}

.wrapper-accomplishment-orgs img {
  max-width: 100%;
  max-height: 150px;
}

@media (min-width:480px) {
  .wrapper-accomplishment-orgs img {
    max-width: 300px;
  }
}

.wrapper-accomplishment-statement .accomplishment-statement-detail,.wrapper-accomplishment-statement .accomplishment-summary {
  font-family: TradeGothicLTStd-LightObl;
  font-style: italic;
  font-size: 1em;
}

.wrapper-accomplishment-statement .accomplishment-recipient {
  line-height: 1.2;
  color: #000;
  font-weight: 600;
}

@media (min-width:768px) {
  .wrapper-accomplishment-statement .accomplishment-recipient {
    font-size: 2.75rem;
  }
}

.wrapper-accomplishment-statement .accomplishment-course {
  line-height: 1.2;
  color: #000;
  font-weight: 600;
}

@media (min-width:768px) {
  .wrapper-accomplishment-statement .accomplishment-course {
    font-size: 2rem;
  }
}

.wrapper-accomplishment-statement .accomplishment-course .accomplishment-course-type {
  text-transform: uppercase;
  font-weight: 400;
}

.wrapper-accomplishment-statement .accomplishment-course .accomplishment-course-name {
  font-family: TradeGothicLTStd-BdCn20;
  font-size: .9em;
}

.wrapper-accomplishment-statement .accomplishment-course .accomplishment-program-type {
  display: block;
  font-family: TradeGothicLTStd-Cn18;
  font-size: .8em;
  font-weight: 400;
  margin: 10px 0 15px;
}

.wrapper-accomplishment-statement .accomplishment-course-dates,.wrapper-accomplishment-statement .accomplishment-course-time {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
}

@media (min-width:768px) {
  .wrapper-accomplishment-statement .copy {
    font-size: 1.125rem;
  }
}

.wrapper-signatories img {
  max-width: 100%;
  max-height: 150px;
}

.signatory {
  margin-top: 1.25rem;
}

.signatory .signatory-signature {
  max-width: 60%;
  max-height: 60px;
}

.signatory .signatory-name {
  margin-top: .625rem;
  margin-bottom: 0;
  border-top: .125rem solid #d2d0d0;
  padding-top: .625rem;
  color: #000;
  font-family: TradeGothicLTStd-BdCn20;
  font-size: .875rem;
  font-weight: 600;
}

.signatory .signatory-credentials {
  color: #6b6969;
  display: inline;
  font-size: .875rem;
}

.signatory .signatory-credentials .role {
  font-family: TradeGothicLTStd-Cn18;
  white-space: pre-line;
}

.header-app .logo {
  width: 250px;
}

.header-app-title {
  margin: 0;
  text-align: center;
}

.accomplishment-rendering {
  text-align: center;
  margin: 2%;
  border: 1px solid #cdd7db;
  padding: 5%;
  background-color: #fcfcfc;
}

@media (min-width:768px) {
  .accomplishment-rendering {
    padding: 2% 5%;
  }
}

.wrapper-accomplishment-org {
  margin-bottom: 0;
}

.wrapper-accomplishment-org .organization-logo {
  display: block;
  margin: 0 auto 1.25rem;
  width: 65.95745%;
}

@media (min-width:480px) {
  .wrapper-accomplishment-org .organization-logo {
    width: 31.91489%;
  }
}

@media (min-width:768px) {
  .wrapper-accomplishment-org .organization-logo {
    width: 31.91489%;
  }
}

.wrapper-accomplishment-org .organization-name {
  display: block;
  margin: 0 auto;
}

.accomplishment-statement {
  margin-bottom: 2.5rem;
}

.accomplishment-statement .accomplishment-course,.accomplishment-statement .accomplishment-logo,.accomplishment-statement .accomplishment-recipient,.accomplishment-statement .accomplishment-statement-detail,.accomplishment-statement .accomplishment-summary {
  display: block;
  margin-bottom: 1.25rem;
}

.accomplishment-statement .accomplishment-logo {
  max-width: 33%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:480px) {
  .accomplishment-statement .accomplishment-logo {
    max-width: 25%;
  }
}

@media (min-width:768px) {
  .accomplishment-statement .accomplishment-logo {
    max-width: 15%;
  }
}

.accomplishment-statement .accomplishment-course-dates,.accomplishment-statement .accomplishment-course-time {
  display: block;
}

.signatory {
  width: 100%;
  float: right;
  float: none;
}

.signatory:nth-child(1n+1) {
  margin-right: 0;
  margin-left: -100%;
  clear: none;
}

@media (min-width:768px) {
  .signatory {
    width: 31.91489%;
    float: right;
  }

  .signatory:nth-child(3n+1) {
    margin-left: -100%;
    clear: both;
    margin-right: 0;
  }

  .signatory:nth-child(3n+2) {
    margin-right: 34.04255%;
    margin-left: -100%;
    clear: none;
  }

  .signatory:nth-child(3n+3) {
    margin-right: 68.08511%;
    margin-left: -100%;
    clear: none;
  }

  .signatory:first-child:last-child {
    margin-right: 34.04255%;
  }

  .signatory:first-child:nth-last-child(2) {
    margin-left: 17.02128%;
  }

  .signatory:first-child:nth-last-child(2)~div {
    margin-left: 51.06383%;
  }
}

@page {
  size: landscape;
}

@media print {
  .wrapper-accomplishment-support,  .wrapper-banner-user,  .wrapper-footer,  .wrapper-header {
    display: none!important;
  }

  body,  html {
    background: #fff!important;
    color: #000!important;
  }

  .wrapper-accomplishment-rendering {
    padding: 0!important;
  }
}

@media print {
  img {
    max-width: 100%!important;
  }

  img,  ul {
    page-break-inside: avoid;
  }

  body {
    margin: 2.5rem .625rem 0!important;
    padding: 0;
    height: auto;
  }

  .wrapper-view {
    margin-bottom: 0!important;
  }

  [class^=wrapper]:after {
    display: none;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media print {
  .accomplishment-statement .accomplishment-recipient {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    line-height: 1.2;
  }

  .accomplishment-statement .accomplishment-course {
    margin-bottom: .625rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .accomplishment-statement .copy {
    font-size: .875rem;
    line-height: 1.6;
  }
}

@media print {
  .accomplishment-rendering {
    top: 0!important;
    box-shadow: none;
    border: none;
    padding: .625rem 2.5rem;
    background-color: #fff;
    text-align: center;
  }

  .accomplishment-rendering .accomplishment-statement {
    display: inline-block;
    vertical-align: top;
    width: 65.95745%;
    margin-top: 2.5rem;
    border-bottom: 0;
  }

  .accomplishment-rendering .signatory:first-child:last-child {
    margin-right: 34.04255%;
  }

  .accomplishment-rendering .signatory:first-child:nth-last-child(2) {
    margin-left: 17.02128%;
  }

  .accomplishment-rendering .signatory:first-child:nth-last-child(2)~div {
    margin-left: 51.06383%;
  }
}

@media print and (min-width:768px) {
  .accomplishment-rendering .signatory {
    width: 31.91489%;
    float: right;
  }

  .accomplishment-rendering .signatory:nth-child(3n+1) {
    margin-left: -100%;
    clear: both;
    margin-right: 0;
  }

  .accomplishment-rendering .signatory:nth-child(3n+2) {
    margin-right: 34.04255%;
    margin-left: -100%;
    clear: none;
  }

  .accomplishment-rendering .signatory:nth-child(3n+3) {
    margin-right: 68.08511%;
    margin-left: -100%;
    clear: none;
  }
}

@media print {
  .accomplishment-rendering .signatory:last-child {
    margin-bottom: 0;
  }

  .wrapper-accomplishment-statement {
    margin-top: -1.25rem;
  }

  .wrapper-accomplishment-org {
    margin-bottom: 0;
  }

  .wrapper-accomplishment-org .organization-logo {
    display: block;
    width: 23.40426%;
    font-weight: 600;
  }

  .signatory {
    width: 31.91489%;
    float: right;
  }

  .signatory:nth-child(3n+1) {
    margin-left: -100%;
    clear: both;
    margin-right: 0;
  }

  .signatory:nth-child(3n+2) {
    margin-right: 34.04255%;
    margin-left: -100%;
    clear: none;
  }

  .signatory:nth-child(3n+3) {
    margin-right: 68.08511%;
    margin-left: -100%;
    clear: none;
  }
}

@media print {
  .accomplishment-statement {
    margin-bottom: .625rem;
  }

  .accomplishment-statement .copy {
    color: #6b6969;
  }

  .accomplishment-statement .accomplishment-course,  .accomplishment-statement .accomplishment-logo,  .accomplishment-statement .accomplishment-recipient,  .accomplishment-statement .accomplishment-statement-detail,  .accomplishment-statement .accomplishment-summary {
    margin: 0 auto .625rem;
  }

  .accomplishment-statement .accomplishment-logo {
    max-width: 15%!important;
  }

  .signatory {
    width: 31.91489%;
    float: right;
  }

  .signatory:nth-child(3n+1) {
    margin-left: -100%;
    clear: both;
    margin-right: 0;
  }

  .signatory:nth-child(3n+2) {
    margin-right: 34.04255%;
    margin-left: -100%;
    clear: none;
  }

  .signatory:nth-child(3n+3) {
    margin-right: 68.08511%;
    margin-left: -100%;
    clear: none;
  }

  .signatory .signatory-signature {
    max-width: 50%;
    height: 40px;
  }

  .signatory .signatory-credentials,  .signatory .signatory-name {
    margin-bottom: 2px;
    font-size: .625rem;
    line-height: 1.5;
  }
}