// ------------------------------
// // edX Web Certificates: Certificate Rendering - Components

// About: (specifically for certificate rendering) styling for specific UI components ranging from global to modular.

@import "@openedx/paragon/styles/css/core/custom-media-breakpoints";
// #RENDERING

// ------------------------------
// #RENDERING
// ------------------------------
.wrapper-accomplishment-title {
  .accomplishment-title {
    @extend .h1;
    font-weight: var(--pgn-typography-font-weight-light);
    line-height: 1.1;
    text-transform: uppercase;
    color: $dark-gray;
  }

  .accomplishment-title-label {
    @include margin-left(13px); // fix letterspacing shift
    display: block;
    font-size: 3.25rem;
    letter-spacing: 0.26em; // letterspacing relates to element font-size

    @include media-breakpoint-up(md) {
      @include margin-left(0);
      font-size: 3.75rem;
    }
  }

  .accomplishment-title-type {
    display: block;
    font-size: 1.25rem;

    @include media-breakpoint-up(md) {
      font-size: 1.28rem;
    }
  }

  .deco {
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
    text-transform: lowercase;
    font-style: italic;
    font-size: $font-large;
  }
}

.wrapper-accomplishment-orgs {
  .list-orgs {
    @extend .list-unstyled;
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: end;
    @include media-breakpoint-up(md) {
      max-height: 130px;
      height: 100%;
    }
    .wrapper-organization {
      margin-bottom: 0.5rem;
      @include media-breakpoint-up(md) {
        height: 100%;
        .organization {
          height: 100%;
        }
      }
    }
  }

  .organization-name {
    @extend .h5;
    font-weight: var(--pgn-typography-font-weight-semi-bold);
    word-wrap: break-word;
    text-align: center;
  }

  // CASE: three organizations
  .wrapper-organization:first-child:nth-last-child(3),
  .wrapper-organization:first-child:nth-last-child(3) ~ .wrapper-organization {
    display: block;
    margin-bottom: 0.5rem;
    @include media-breakpoint-up(md) {
      height: 33%;
      .organization {
        height: 100%;
        @include margin-left(2.5rem);
      }
    }
  }

  // CASE: two organizations
  .wrapper-organization:first-child:nth-last-child(2),
  .wrapper-organization:first-child:nth-last-child(2) ~ .wrapper-organization {
    display: block;
    margin-bottom: 0.5rem;
    @include media-breakpoint-up(md) {
      height: 50%;
      .organization {
        height: 100%;
        @include margin-left(2.5rem);
      }
    }
  }
}

.wrapper-accomplishment-statement {
  .accomplishment-recipient {
    @extend .h2;
    line-height: 1.2;
    font-weight: var(--pgn-typography-font-weight-semi-bold);
    color: var(--pgn-color-black);

    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
  }

  .accomplishment-course,
  .accomplishment-program {
    @extend .h3;
    line-height: 1.2;
    font-weight: var(--pgn-typography-font-weight-semi-bold);
    color: var(--pgn-color-black);

    @include media-breakpoint-up(md) {
      font-size: $font-xxx-large; // @extend .h2; extends not working
    }
  }

  .copy {
    @extend %text-meta;

    @include media-breakpoint-up(md) {
      font-size: $font-large; // @extend %copy-large; extends not working
    }
  }
}

.wrapper-signatories {
  img {
    max-width: 100%;
    max-height: 150px;
  }
}

.signatory {
  @extend .mt-4;

  .signatory-signature {
    max-width: 60%;
    max-height: 60px;
  }

  .signatory-name {
    @extend .h6;
    font-size: $font-small;
    font-weight: var(--pgn-typography-font-weight-semi-bold);
    line-height: $line-height-large;
    color: var(--pgn-color-gray-700);
  }

  .signatory-credentials {
    @extend %text-micro;
    color: var(--pgn-color-gray-500);

    .role {
      white-space: pre-line;
    }

    .organization {
      @extend .mt-1;
      display: block;
      font-style: italic;
    }
  }
}

.accomplishment-stamps {
  .title {
    @extend %h8;
    color: var(--pgn-color-gray-600);
    display: block;
    margin-bottom: 0;
  }

  .emphasized {
    @extend %text-micro;
    display: block;
    font-weight: var(--pgn-typography-font-weight-bold);
    color: var(--pgn-color-gray-600);
  }
}
