{% extends 'edx.org/credentials/programs/base.html' %}
{% load i18n %}
{% load django_markup %}

{% block accomplishment_summary %}
  {# Translators: This phrase is preceded by the learner's name and followed by a program title #}
  {% trans "successfully completed all courses and received passing grades for a Professional Certificate in" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_stamp_title %}
  {% trans "Professional Certificate" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_metadata_title %}
  {% trans "About the edX Professional Certificate" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_metadata %}
  {% blocktrans trimmed asvar accomplishment_metadata_string %}
    An edX Professional Certificate signifies that the learner has completed a group of courses that
    add up to a rich understanding of an area of study. Completion of Professional Certificate Programs requires that
    learners earn {link_start}Verified Certificates{link_end} from each of the courses included in
    the Program.
  {% endblocktrans %}
  {% interpolate_html accomplishment_metadata_string link_start='<a href="https://www.edx.org/verified-certificate">'|safe link_end='</a>'|safe %} 
{% endblock %}
