// ------------------------------
// MIT Professional Education: Certificate Rendering - Layouts

// About: (specifically for certificate rendering) styling for generic layouts and responsive support.

// #ACCOMPLISHMENT - BASE

// ------------------------------
// #ACCOMPLISHMENT - BASE
// ------------------------------
.header-app {
    .logo {
        width: 250px;
    }
}

.header-app-title {
    margin: 0;
    @include text-align(center);
}


// ------------------------------
// #ACCOMPLISHMENT
// ------------------------------
.accomplishment-rendering {
  @include text-align(center);
  margin: 2%;
  border: 1px solid $gray-500;
  padding: 5%;
  background-color: $gray-100;
  box-shadow: 0 1px 2px 1px rgba(167, 164, 164, 0.25);

  @include media-breakpoint-up(md) {
    padding: 2% 5%;
  }
}

.wrapper-accomplishment-org {
  margin-bottom: 0;

  .organization-logo {
    @extend .mt-0, .mb-4, .mx-auto;
    display: block;
    width: 16%;
  }

  .organization-name {
    display: block;
    margin: 0 auto;
  }
}

.accomplishment-statement {
  @extend .mb-5;

  .accomplishment-recipient,
  .accomplishment-course,
  .accomplishment-summary,
  .accomplishment-statement-detail,
  .accomplishment-logo {
    @extend .mb-4;
    display: block;
  }

  .accomplishment-logo {
    max-width: 33%;
    @include margin-left(auto);
    @include margin-right(auto);

    @include media-breakpoint-up(sm) {
        max-width: 25%;
    }

    @include media-breakpoint-up(md) {
        max-width: 18%;
    }
  }

  .accomplishment-course-dates {
    display: block;
  }

  .accomplishment-course-time {
    display: block;
    font-size: $font-xxx-small;
  }
}

.wrapper-signatories {
  @extend .container;

  .list-signatories {
    @extend .row, .justify-content-center;

    .signatory {
      @extend .col-12, .col-md-4;
    }
  }
}
