{% extends 'edx.org/credentials/programs/base.html' %}
{% load i18n %}
{% load django_markup %}

{% block message %}
  {% filter force_escape  %}
    {# Translators: XSeries should not be translated #}
    {% blocktrans trimmed with organization_name=program_details.organizations.0.key %}
      You worked hard to earn your XSeries Program certificate from {{ organization_name }}.
    {% endblocktrans %}
  {% endfilter %}
{% endblock %}

{% block accomplishment_summary %}
  {# Translators: XSeries should not be translated, this phrase is preceded by the learner's name and followed by a program title #}
  {% trans "has successfully completed all courses and received passing grades for an XSeries Program certificate in" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_stamp_title %}
  {# Translators: XSeries should not be translated #}
  {% trans "XSeries Program certificate" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_metadata_title %}
  {# Translators: XSeries should not be translated #}
  {% trans "About the edX XSeries Program certificate" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_metadata %}
  {# Translators: XSeries should not be translated #}
  {% blocktrans trimmed asvar accomplishment_metadata_string %}
    An edX XSeries Program certificate signifies that the learner has completed a group of courses that add up to a rich
    understanding of an area of study. Completion of XSeries Programs requires that learners earn
    {link_start}Verified Certificates{link_end} from each of the courses included in
    the Program.
  {% endblocktrans %}
  {% interpolate_html accomplishment_metadata_string link_start='<a href="https://www.edx.org/verified-certificate">'|safe link_end='</a>'|safe %} 
{% endblock %}
