// ------------------------------
// edX Web Certificates: Third Party Libraries

// About: third party libraries and dependencies import

@import "@edx/brand/paragon/fonts";
@import "@edx/brand/paragon/variables";
@import "@edx/paragon/scss/core/core";
@import "@edx/brand/paragon/overrides";