$em-base: 16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)
$dark-gray: rgb(17, 16, 16);

$micromasters-color: #065784;
$micromasters-watermark-color: #005585;
$xseries-color: #424242;
$professional-certificate-color: #9a2061;
$professional-certificate-watermark-color: $xseries-color;

$edx-e-color: #b72768;
$edx-e-d-overlap-color: #78212e;
$edx-d-color: #8a8c8f;
$edx-d-x-overlap-color: #026ba4;
$edx-x-color: #209fda;



// Font sizes
// Taken from edx-pattern library and put here as vars.
$font-xxxx-large: 2.375rem;
$font-xxx-large: 1.75rem;
$font-xx-large:1.5rem;
$font-x-large: 1.313rem;
$font-large:1.125rem;
$font-base:1rem;
$font-small:0.875rem;
$font-x-small:0.75rem;
$font-xx-small:0.688rem;
$font-xxx-small:0.625rem;

// Font weights
$font-weight-normal: var(--pgn-typography-font-weight-normal) !default;
$font-weight-light: var(--pgn-typography-font-weight-light) !default;
$font-weight-x-light:200;
$font-weight-semi-bold: var(--pgn-typography-font-weight-semi-bold) !default;
$font-weight-bold: var(--pgn-typography-font-weight-bold) !default;

//Line height vars
$line-height-large: 1.6;
$line-height-small: 1.5;

// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

.img-link {
    @extend %reset-link;
}

%divider-2 {
    border-bottom-width: 2rem;
    border-bottom-style: solid;
}

// Sass doesn't like code inside a "@media print" block to use selectors from outside the media block, so we use a
// placeholder class to work around it (since those do work inside a media block).
// Open Sass ticket: https://github.com/sass/sass/issues/1050
// Stack Overflow: https://stackoverflow.com`/questions/14840918

// The following mixins are used to get around a build error where we were trying to extend selectors across media queries.
@mixin h2 {@extend .h2;}
@mixin h3 {@extend .h3;}
%h2 { @extend .h2; }
%h3 { @extend .h3; }
%m-0 { @extend .m-0; }
%mt-0 { @extend .mt-0; }
%mt-2 { @extend .mt-2; }
%mt-5 { @extend .mt-5; }
%mb-0 { @extend .mb-0; }
%mb-2 { @extend .mb-2; }
%mb-4 { @extend .mb-4; }
%mb-5 { @extend .mb-5; }
%pt-0 { @extend .pt-0; }
%pt-2 { @extend .pt-2; }
%pb-0 { @extend .pb-0; }
%pb-2 { @extend .pb-2; }
%pl-5 { @extend .pl-5; }
%pr-5 { @extend .pr-5; }

// Replacement for pattern-library classes
%text-micro {
  font-size: $font-x-small;
  line-height: $line-height-small;
}

%text-meta {
  font-size: $font-size-sm;
  line-height: var(--pgn-typography-line-height-lg);
}

%h8 {
  @extend .h6;
  @extend %text-micro;
  font-weight: var(--pgn-typography-font-weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.03125rem;
}
