name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16 ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        architecture: x64
    - uses: actions/setup-node@v2-beta
      with:
        node-version: ${{ matrix.node }}
    - name: run tests
      run: |
        sudo apt install gettext
        make requirements
        pip install -r requirements/test.txt
        make build
        make test
