name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.12']
        django-version: ['4.2']
        node: [18, 20]
    continue-on-error: ${{ matrix.node == 20 }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Setup Nodejs
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VER }}

    - name: run tests with Django ${{ matrix.django-version }}
      run: |
        sudo apt install gettext
        pip install "django~=${{ matrix.django-version }}.0"
        pip install -r requirements/test.txt
        make npm_requirements
        make build
        make test
        make validate_translations
